.footer {
  position: relative;
  z-index: 300001;
  height: 100%;
  background-color: #111111;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-family: "Open Sans", sans-serif;
  .footer-description {
    text-align: start;
    height: 100%;
    .container {
      height: 100%;
      display: flex;
      align-items: flex-start;
    }
    .footer-description-title {
      color: #ffffff;
    }
    .footer-description-paragraph {
      color: #535457;
      font-size: small;
    }
  }
  .footer-contact {
    text-align: start;
    .container {
      height: 100%;
      display: flex;
      align-items: flex-start;
    }
    height: 100%;
    .footer-contact-title {
      color: #c3c3c3;
    }
    .footer-contact-info {
      font-size: small;
      color: #7c7e83;
      span {
        margin-bottom: -0.5vh;
        margin-left: 0.6vw;
      }
    }
  }
}

.footer-contact-icons-wrapper {
  margin-top: 1vh;
  height: 100%;
  .footer-social-icons {
    display: flex;
    height: 100%;
    span {
      height: 100%;
    }
  }
}
